<header class="navigation">
  <div class="logo">
    <a href="/">
      <img src="/svger/logo.svg" alt="logo" />
    </a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="/forlob">VORES FORLØB</a></li>
      <li><a href="/modos">MØD OS</a></li>
      <li><a href="/deltager">DELTAGERNE</a></li>
      <li><a href="/ansog">ANSØG</a></li>
      <li><a href="/somevideo">SOME</a></li>
    </ul>
    <div class="burger-menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>

<style>
  @font-face {
    font-family: Amiko-Regular;
    src: url(/fonts/Amiko-Regular);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .navigation {
    width: 100%;
    top: 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    background-color: #fffffe;
    color: white;
    padding: 0.7em;
    /* overflow: hidden; */ /*FJERNET*/
    position: sticky; /* Sætter navigationsbjælken fast øverst */
  }

  .logo img {
    height: 54px;
    width: auto;
    margin-left: 1rem;
  }

  .nav-links {
    list-style: none;
    display: flex;
    cursor: pointer;
  }
  
  .nav-links a {
    text-decoration: none;
    font-family: "Amiko-Regular", sans-serif;
    color: black;
    font-size: 17px;
  }

  .nav-links a:hover {
    color: var(--pink);
  }

  .burger-menu {
    display: none;
    /* cursor: pointer; */ /*Unødvendigt*/
  }
    /* Stil for burger-menu */
  .burger-menu div {
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
    background-color: black;
  }

    /* .line1, .line2, .line3 {
    background-color: black; /*flyttet til burger-menu div*/

  /* Responsive Desktop*/
  @media (max-width: 810px) { /*Ændret fra 768px til 810px*/
    .nav-links {
      display: none;
      position: absolute;
      right: 0;
      height: 100vh;
      top: 60px;
      background-color: #ffffff;
      flex-direction: column;
      width: 40%; /*Mindre width*/
      /* text-align: center; */
      z-index: 10;
    }

    .nav-links a{
      font-size: 0.8rem;
    }

    .nav-links li {
      margin-top: 25px;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .burger-menu {
      display: block;
    }

    /*Justering af logo*/
    .logo img {
      height: 45px;
      width: auto;
      margin-left: 5px;
    }

    /*Krydset til burgermenu*/
    .burger-menu .line1.toggle {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-menu .line2.toggle {
      opacity: 0;
    }

    .burger-menu .line3.toggle {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }

  @media (min-width: 810px) {
    .nav-links a{
      margin-right: 50px;
    }
  }

  /*Til JAVA*/
  .nav-active {
    display: flex;
  }
</style>

<script>
  const burgerMenu = document.querySelector(".burger-menu"); /*De 3 streger*/
  const navLinks = document.querySelector(".nav-links"); /*Navigationen*/

  burgerMenu.addEventListener("click", () => {
    navLinks.classList.toggle("nav-active");
    burgerMenu.classList.toggle("toggle");
    document.querySelectorAll(".burger-menu div").forEach(kryds => { /*De 3 streger = hver af dem forEach*/
      kryds.classList.toggle("toggle");
    });
  });
</script>
